[submodule "00_boot"]
	path = 00_boot
	url = https://github.com/ai-mbl/boot
[submodule "01_intro_dl"]
	path = 01_intro_dl
	url = https://github.com/dl-janelia/intro_dl
[submodule "02_unet"]
	path = 02_unet
	url = https://github.com/ai-mbl/unet
[submodule "03_segmentation"]
	path = 03_segmentation
	url = https://github.com/ai-mbl/segmentation
[submodule "04_image_translation"]
	path = 04_image_translation
	url = https://github.com/ai-mbl/image_translation
[submodule "05_image_restoration"]
	path = 05_image_restoration
	url = https://github.com/ai-mbl/image_restoration
[submodule "06_failure_modes"]
	path = 06_failure_modes
	url = https://github.com/ai-mbl/failure_modes
[submodule "08_tracking"]
	path = 08_tracking
	url = https://github.com/ai-mbl/tracking
[submodule "example_project"]
	path = example_project
	url = https://github.com/ai-mbl/example-project
[submodule "07_xai"]
	path = 07_xai
	url = https://github.com/ai-mbl/xai
